.featured{
  width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;



}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  /* flex:1; */
  width: 300px;

  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.featuredItem:hover{
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}
.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}


